body{
	background-color: #f5f5f5;
	margin:0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: 	#787878;
}
nav{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	position: absolute;
	height: 48px;
	top: 0;
	left: 0;
}
main{
	position: relative;
	top: 48px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
}
#nav-left{
	padding-left: 100px;
}
#logo{
	font-family: normal;
	font-weight: 600;
	padding: 3px;
	box-shadow: 4px 4px 8px rgba(0,0,255,0.2);
	color: white;
	background-color: rgba(0,0,200,0.5);
	border-radius: 3px;
}
#site-name{
	font-family: sans-serif;
	font-weight: 600;
	margin-left: 10px;
	color: 	#787878;
}
#top_1{
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
}
#top_1 a{
	font-family: sans-serif;
	text-decoration: none;
}